<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      @if(!showBackButton){
        <ion-menu-button color="primary" auto-hide="false"></ion-menu-button>
      }
      @if(showBackButton){
        <ion-back-button color="primary" defaultHref="/"></ion-back-button>
      }
    </ion-buttons>
    <ion-title color="medium" class="ion-text-center">
      {{title}}
      @if(numberOfSongs){
      <p>
        <ion-text class="ion-hide-sm-down" >({{numberOfSongs}} tracks)</ion-text>
      </p>
      }
    </ion-title>

  </ion-toolbar>
</ion-header>
