@if(animation === 'ripple'){
  <div class="ripple-container">
    <div class="ripple"></div>
    <div class="ripple"></div>
    <div class="ripple"></div>
    <div class="ripple"></div>
  </div>
}
@if(animation === 'wave'){
  <div class="soundwave">
    <div class="wave-line"></div>
    <div class="wave-line"></div>
    <div class="wave-line"></div>
    <div class="wave-line"></div>
    <div class="wave-line"></div>
    <div class="wave-line"></div>
    <div class="wave-line"></div>
    <div class="wave-line"></div>
  </div>
}
@if(animation === 'orb'){
  <div class="siri-orb"></div>
}

