@for(song of tracks; track song.id){
  <ion-item-sliding>
    <ion-item-options side="end">
      <ion-item-option color="primary" (click)="openPlaylistModal(song)">
        <ion-icon slot="start" size="large" name="cog"></ion-icon>
        <div>Settings</div>
      </ion-item-option>
    </ion-item-options>

    <ion-item
      lines="none"
      button
      (click)="playTrack(song)"
      [class.playing]="currentSong?.id === song.id"
    >
      <ion-thumbnail slot="start">
        <ion-img
          [src]="audioService.getIMGUrl(song.thumbnail || '')"
          [alt]="song.title"
        ></ion-img>
      </ion-thumbnail>

      <ion-label>
        <ion-text color="light">
          <h3>{{ song.title }}</h3>
        </ion-text>
        <ion-text color="medium">
          <p>{{ song.artist }}</p>
        </ion-text>
      </ion-label>

      <!-- Indicateur de lecture -->
      @if(audioService.getCurrentTrack()?.id  === song.id){
        <app-speaker-anim slot="end"></app-speaker-anim>
      }
    </ion-item>
  </ion-item-sliding>

  <!-- Modal séparée (à placer en dehors de la boucle) -->
  <ion-modal
    [isOpen]="isModalOpen"
    (willDismiss)="onWillDismiss($event)"
    [canDismiss]="true">

    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ selectedSong?.title }}</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="cancel()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>

          <!-- Buttons for adding to playlist -->
          <ion-item (click)="openPlaylistManagerModal()" lines="none" button>
            <ion-icon name="add" color="primary" slot="start"></ion-icon>
            <ion-label>Add to Playlist</ion-label>
          </ion-item>


          <!-- buttons for deleting the song -->
          <ion-item lines="none" button (click)="onDeleteSong()">
            <ion-icon name="trash" color="danger" slot="start"></ion-icon>
            <ion-label>Delete</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
}

