<app-header [title]="playlist?.name || 'Playlist'" [showBackButton]="true" [numberOfSongs]="playlist?.songs?.length || 0"></app-header>
<ion-content fullscreen="true" >

@if(playlistId === 'all'){

<app-all-playlist-display></app-all-playlist-display>

} @else {

  <ion-fab vertical="top" horizontal="end" slot="fixed" [edge]="true">
    <ion-fab-button size="small" (click)="playPlaylist()">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  @if(isLoading){
    <ion-item lines="none">
      <ion-label>Loading  <ion-spinner></ion-spinner>  </ion-label>
    </ion-item>
  }

  <app-tracks-display [tracks]="songs"></app-tracks-display>

  @if(!isLoading && (!playlist?.songs?.length)){
    <ion-item lines="none">
      <ion-label>No tracks in the playlist</ion-label>
    </ion-item>
  }

}

</ion-content>
